---
layout: page
title: Projects
subtitle: My collection of work
grid: 3
---

<div class="posts-list">
  {% assign counter = 0 %}
  {% for project in site.projects %}
  {% assign mod = forloop.index0 | plus:1 | modulo:page.grid %}
  {% assign counter = counter | plus:1 %}

  {% if counter == 1 %}
  <div class="row">
  {% endif %}

  <div class="posts-list">
    <div class="col-md-4 portfolio-item">
      <article class="post-preview">

        <a href="{{ project.url | prepend: site.baseurl }}">
          {% if project.bigimg %}
            <img class="thumbnail img-responsive" src="{{project.bigimg | prepend: site.baseurl }}" alt="{{ project.title }}">
            {% else %}
            <img class="thumbnail img-responsive" src="http://placehold.it/700x400" alt="fake image as a place holder">
            {% endif %}

        </a>
        <h3>
            <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h3>

        <div class="post-entry">
          {{ project.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
          {% assign excerpt_word_count = project.excerpt | number_of_words %}
          {% if project.content != project.excerpt or excerpt_word_count > site.excerpt_length %}
            <a href="{{ project.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
          {% endif %}
        </div>


        </article>
      </div>
  </div>

  {% if mod == 0 %}
   </div>
    {% assign counter = 0 %}
  {% endif %}
  {% endfor %}

</div>
