---
layout: page
title: Projects
subtitle: My collection of work
---

<div class="posts-list">
  {% for project in site.categories.projects %}
  <article class="post-preview">
    <a href="{{ project.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ project.title }}</h2>

	  {% if project.subtitle %}
    <p class="post-meta">
      {{ project.subtitle }}
    </p>
	  {% endif %}
    </a>



    <div class="post-entry-container">
      {% if project.bigimg %}
      <div class="col-sm-3">
      <a href="{{ project.url  | prepend: site.baseurl }}">
          <img class="thumbnail img-responsive" src="{{project.bigimg | prepend: site.baseurl }}" alt="{{ project.title }}">
      </a>
    </div>
      <!-- <div class="post-image">
        <a href="{{ project.url  }}">
          <img src="{{ project.image }}">
        </a>
      </div> -->
      {% endif %}
      {% if project.image %}
      <div class="col-sm-3">
      <a href="{{ project.url | prepend: site.baseurl  }}">
          <img class="thumbnail img-responsive" src="{{project.image | prepend: site.baseurl }}" alt="{{ project.title }}">
      </a>
    </div>
      <!-- <div class="post-image">
        <a href="{{ project.url  }}">
          <img src="{{ project.image }}">
        </a>
      </div> -->
      {% endif %}
      <div class="post-entry">
        {{ project.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = project.excerpt | number_of_words %}
        {% if project.content != project.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ project.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if project.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in project.tags %}
      <a href="{{ site.baseurl | prepend: site.baseurl  }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ project.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <ul class="pager main-pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Projects</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Projects &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}


</div>
      <!-- Projects Row -->
      <!-- <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="http://placehold.it/700x400" alt="">
              </a>
              <h3>
                  <a href="#">Project Name</a>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="http://placehold.it/700x400" alt="">
              </a>
              <h3>
                  <a href="#">Project Name</a>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="#">
                  <img class="img-responsive" src="http://placehold.it/700x400" alt="">
              </a>
              <h3>
                  <a href="#">Project Name</a>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
      </div> -->
      <!-- /.row -->
